# {{ ansible_managed }}

worker_processes  {{ ansible_processor_count }};
worker_rlimit_nofile {{ nginx_max_fds }};
events {
    worker_connections  {{ nginx_max_clients }};
}

user {{ nginx_user }};

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
{% for k,v in nginx_http_params.iteritems() %}
    {{ k }}  {{ v }};
{% endfor %}

    include /etc/nginx/conf.d/*.conf;
}
