# {{ ansible_managed }}

{# macro to print a single key-value pair of an nginx configuration #}
{%- macro nginx_kvp(k, v, indent) -%}
{% if v is sameas true -%}
{{ '    ' * indent }}{{ k }} on;
{% elif v is sameas false -%}
{{ '    ' * indent }}{{ k }} off;
{% elif v is number -%}
{{ '    ' * indent }}{{ k }} {{ v }};
{% elif v is string -%}
{{ '    ' * indent }}{{ k }} {{ v|trim }};
{% elif v is mapping -%}
{{ '    ' * indent }}{{ k }} {{ v['_name']|d('') }} {{ '{' }}
{{ nginx_subconf(v, indent+1) -}}
{{ '    ' * indent }}{{ '}' }}
{% elif v is sequence -%}
{%- for e in v -%}
{{ nginx_kvp(k, e, indent) }}
{%- endfor -%}
{%- endif -%}
{%- endmacro -%}

{# macro that takes a dict of nginx configuration and prints all the kvps #}
{%- macro nginx_subconf(config_dict, indent) -%}
{%- for k, v in config_dict.iteritems() if k[0] != '_' -%}
{{ nginx_kvp(k, v, indent) }}
{%- endfor -%}
{%- endmacro -%}

{%- if item is defined -%}
{%- set nginx_conf = item -%}
{%- endif -%}
{{ nginx_subconf(nginx_conf, 0) }}
